.block-label:last-of-type{
	margin-bottom:10px
}

.block-label:last-child {
    margin-bottom: 0
}

.form-group .panel-border-narrow:last-child{
	margin-top:0	
}

#helpDetailsType .panel.heading{
	margin-bottom:0
}