/*********************
Helpline number
**********************/
#ad-helpline {
  border-top: 3px solid #28A197 ;
  margin-top: 54px;
  padding-top: 5px;
}

#ad-helpline p {
  margin-bottom: 10px;
}

#ad-helpline h3 {
  margin: 10px 0;
}

@media (max-width: 640px) {
  #ad-helpline {
    float: left;
    margin-top: 0;
  }
}